* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color:rgb(236, 236, 236);

}


.main_div{
    position: relative;
}

.nav_bar{
    display:flex;
    position: relative;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5% 0.5%;
    color:#888888f3;
    background-color:rgb(236, 236, 236);

}

.nav_bar a{
    text-decoration: none;
    color: #888888f3;
}
.nav_bar a,h2{
    display:inline-block;
    padding: 0.5% 8% 0.5% 8%;
}


.pic_div{
    top: -240%;
    position: absolute;
    width: 38%;
}

.pic{
    width: 100%;
    height: 100%;
    border-radius: 9%;
    z-index: 1;
}

.about_me{
    position: relative;
    margin: 7% 0 0 40%;
    font-size:x-large;
    padding-bottom: 10%;
    z-index: 2;
    left: -10%;
}

.about_me p{
    margin-left: 15%;
}

.about_me .input1{
    height: 30px;
    width: 90px;
    color: white;
    border: none;
    border-radius: 10%;
    background-color: rgb(167, 84, 245);
    display: inline-block;
    margin-left: 25%;
}

.about_me .input2{
    height: 30px;
    width: 90px;
    border-radius: 10%;
    border-color: rgb(167, 84, 245);
    color: rgb(167, 84, 245);

}

.about_me span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.queries{
    height: 350px;
    background-color:hsl(240, 90%, 92%);
    margin:1% 70% 0 1%;
    border-radius: 7%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* position: relative; */
}

.queries h1{
    padding-top:5%;
    text-align: center;
}

.queries form{
    margin-left: 20%;
    padding-top: 40px;
}

.submit{
    width: 90px;
    height: 40px;
    background-color: aquamarine;
    border-color: aliceblue;
    border-radius: 10%;

}

.contact {
    /* position:absolute; */
    /* top: -20%; */
    margin-left: 40%;

}





